<div class="outer_container">
    <div class="login_container">
        <div class="log_in">
            <%= form_tag sessions_path, autocomplete: "off" do %>
                <%= text_field_tag :password %>
            <% end %>
        </div>
    </div>
</div>