<div class="index_container">
    <div class="list_container">
        <ul class="articles_list">
            <% @articles.each do |article| %>
                <div class="article_container">
                    <li class="article_title_li">
                        <p class="article_title_link">
                            <%= link_to article.title, article_path(article), class: "article_title_link_header" %>
                        </p>
                        <p class="article_preview">
                            <%= article.preview %>
                        </p>
                        <p class="article_post_date">
                            <%= distance_of_time_in_words_to_now(article.created_at) %> ago
                        </p>
                    </li>
                    <figure class="img_mini">
                        <%= link_to image_tag(article.image.url), article_path(article) %>
                    </figure>
                </div>
            <% end %>
        </ul>
    </div>
</div>
<div class="custom_container">
        <button class="theme_btn">Light</button>
        <div class="text_size_btns">
            <button class="text_btn text_btn-container"><span id="span_1">A</span><span id="span_2">A</span><span id="span_3">A</span>
            </button>
            <button class="text_btn text_btn-item" id="text_btn_1" name="0">Aa</button>
            <button class="text_btn text_btn-item" id="text_btn_2" name="0.5">Aa</button>
            <button class="text_btn text_btn-item" id="text_btn_3" name="1">Aa</button>
        </div>
</div>