body {
    font-family: proxima nova;
    background-color: #140E17;
    color: #F4F7F2;
    margin: 0;
}

h1 {
    display: inline-block;
    font-size: 8vw;
    margin: 2vh 0 2vh 4vw;
    letter-spacing: 0.02em;
}

p {
    margin: 0;
}

.flash {
    margin: 2vh 0 2vh 4vw;
}