.title_input {
    margin: 0 0 4vh 4vw;
}

.title_input label {
    font-size: 3vw;
}

.body_input {
    margin: 0 0 4vh 4vw;
}

.body_input label {
    font-size: 3vw;
    margin-bottom: 2vh;
}

.submit_btn {
    margin: 0 0 4vh 4vw;
}

.title_input input {
    background-color: #140E17;
    color:#F4F7F2;
    font-family: proxima nova;
    font-size: 2vw;
    border: 1px solid #F4F7F2;
    width: 25vw;
}

.submit_btn input {
    background-color: #140E17;
    color:#F4F7F2;
    font-family: proxima nova;
    font-size: 2vw;
    border: 1px solid #F4F7F2;
    width: 16vw;
}

.submit_btn input:hover {
    color: #FFA300;
    border: 1px solid #FFA300;
    cursor: pointer;
}

textarea {
    background-color: #140E17;
    color:#F4F7F2;
    font-family: proxima nova;
    font-size: 2vw;
    border: 1px solid #F4F7F2;
    width: 50vw;
    height: 30vh;
}

input:focus {
    border: 1px solid #FFA300;
    outline: none;
}

textarea:focus {
    border: 1px solid #FFA300;
    outline: none;
}