.article_title_link {
    font-size: 3vw;
    color: #F4F7F2;
}

.article_title_link:hover {
    color: #FFA300;
}

.tags_list {
    margin: 0 0 4vh 4vw;
    padding: 0;
}

.tags_link {
    display: block;
    font-size: 3vw;
    margin: 2vh 0 0 4vw;
    color: #F4F7F2;
}

.tags_link:hover {
    color: #FFA300;
}

.create_link {
    display: inline-block;
    background-color: #140E17;
    color: #F4F7F2;
    margin: 2vh 0 0 4vw;
    font-family: proxima nova;
    font-size: 2vw;
    border: 1px solid #F4F7F2;
    padding: 0.2em 1em;
    text-decoration: none;
}

.create_link:hover {
    color: #FFA300;
    border: 1px solid #FFA300;
    cursor: pointer;
}

ul {
    margin: 0;
}

.articles_list {
    display: block;
    margin: 2vh 0 2vh 4vw;
    padding-left: 4vw;
}