.index_container {
    display: flex;
    justify-content: space-between;
}

.list_container {
    width: 60vw;
    margin-left: 10vw;
}

.tags_container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 5vw;
}

.article_title_li {
    max-width: 40vw;
    max-height: 20vw;
    display: flex;
    flex-direction: column;
}

.article_title_link a, a.article_title_link{
    font-size: var(--font1);
    color: var(--color);
    max-width: 5vw;
    text-decoration: none;
}

.article_title_link a:hover, a.article_title_link:hover {
    color: var(--secondary);
}

.article_title_link_header {
    font-weight: 700;
    line-height: 0.8em;
}

.article_preview {
    font-size: var(--font2);
    margin-top: 1em;
    color: var(--secColor);
    line-height: 1.5em;
}

.article_post_date {
    margin-top: 2em;
    font-size: var(--font3);
    color: var(--secColor);
}

.article_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3em;
}

.img_mini {
    margin: 0;
}

.img_mini img {
    height: 10vw;
    width: 10vw;
    object-fit: cover;
}

.tags_list {
    margin: 0 0 4vh 0;
    padding: 0;
}

.tag_link  {
    color: var(--color);
    font-size: 1.5vw;
    padding: 0;
    margin: 0 1vw 2vh 0;
    text-decoration: none;
}

.tag_link:hover {
    color: var(--secondary);
    text-decoration: underline;
}

.create_link {
    background-color: var(--background);
    color: var(--color);
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-size: 1.5vw;
    border: 1px solid var(--color);
    padding: 0.25em 1em;
    text-decoration: none;
}

.create_link:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
}

ul {
    margin: 0;
}

.articles_list {
    width: 100%;
    margin: 2em 0 2em 0;
    list-style-type: none;
    padding: 0;
}

.custom_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    position: fixed;
    top: 200px;
    right: 0px;
}

.theme_btn {
    background-color: var(--background);
    color: var(--color);
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    border: 1px solid var(--color);
    padding: 0.25em 1em;
    text-decoration: none;
}

.theme_btn:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
}

.theme_btn:focus {
    outline: none;
}

.text_size_btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text_btn {
    background-color: var(--background);
    color: var(--color);
    margin: 0;
    font-family: proxima-nova, sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    border: 1px solid var(--color);
    padding: 0.25em 1em;
    text-decoration: none;
    margin-bottom: 5px;
}

.text_btn-container {
    z-index: 1;
}

.text_btn-container span{
    z-index: -1;
    height: 20px;
}

/* .text_btn-container svg{
    stroke: var(--color);
    width: 2vw;
    height: 2vw;
    vertical-align: middle;
    margin-left: 0.5vw;
} */

#span_1 {
    font-size: 1.5vw;
}

#span_2 {
    font-size: 1.1vw;
}

#span_3 {
    font-size: 0.7vw;
}

.text_btn-item {
    opacity: 0;
    z-index: -1;
}

.text_btn:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
}

.text_btn:hover svg {
    stroke: var(--secondary);
}

.text_btn:focus {
    outline: none;
}

#text_btn_1 {
    font-size: 1.5vw;
    transform: translateY(-25px);
    transition: transform 0.6s ease-out, opacity 0.2s linear, background-color 0.5s linear;
}

#text_btn_2 {
    font-size: 1.7vw;
    transform: translateY(-55px);
    transition: transform 0.5s ease-out, opacity 0.3s linear, background-color 0.5s linear;
}

#text_btn_3 {
    font-size: 1.9vw;
    transform: translateY(-85px);
    transition: transform 0.4s ease-out, opacity 0.4s linear, background-color 0.5s linear;
}

#text_btn_4 {
    font-size: 2.0vw;
    transform: translateY(-115px);
    transition: transform 0.3s ease-out, opacity 0.3s linear, background-color 0.5s linear;
}
