body {
    font-family: proxima nova;
    background-color: #140E17;
    color: #F4F7F2;
    margin: 0;
}

h1 {
    font-size: 8vw;
    margin: 2vh 0 2vh 4vw;
}

a {
    color: #F4F7F2;
    font-size: 3vw;
    margin: 2vh 0 2vh 4vw;
}

ul {
    margin: 2vh 0 2vh 4vw;
}