.article_title {
    margin: 4vh 0 0 0;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-size: 4vw;
}

.article_preview_main {
    color: #BCC2B7;
    font-weight: 300;
    font-size: 2vw;
    margin: 0 0 2vh 0;
}
.tags_and_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.links_container {
    margin-bottom: 1vh;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 20vw;
    justify-content: flex-end;
}

.header_img {
    
}

.header_img img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.action_link {
    margin: 4vh 0 2vh 0;
    font-size: 1.5vw;
    color: #F4F7F2;
}

.action_link:hover {
    color: #FFA300;
}

.delete_btn {
    margin: 0 0 2vh 0;
    font-size: 1.5vw;
    color: #F4F7F2;
}

.delete_btn:hover {
    color: #FFA300;
}

.edit_btn {
    margin: 0 0 2vh 0;
    font-size: 1.5vw;
    color: #F4F7F2;
}

.edit_btn:hover {
    color: #FFA300;
}

.article_body {
    font-family: adobe-caslon-pro, serif;
    font-size: 2vw;
    font-weight: 400;
    margin: 4vh 0 4vh 0;
    min-height: 20vh;
}

.comments {
}

.comment_all {
    display: inline-block;
    border: 1px solid #F4F7F2;
    margin-bottom: 4vh;
    padding: 1em;
    max-width: 50vw;
}

.comments_title {
    display: inline-block;
    font-size: 3vw;
    margin: 4vh 0 4vh 0;
}

.comment_author {
    font-weight: 400;
    display: table;
    margin: 0 0 1vh 0;
}

.comment_body {
    font-weight: 300;
}

.date {
    font-weight: 300;
    font-size: 1vw;
}

.comment_btn {
    display: inline;
    background-color: #140E17;
    color: #F4F7F2;
    margin: 0 0 2vh 2vw;
    font-family: proxima-nova, sans-serif;
    font-size: 2vw;
    border: 1px solid #F4F7F2;
    padding: 0.25em 1em;
}

.comment_btn:hover {
    color: #FFA300;
    border: 1px solid #FFA300;
    cursor: pointer;
}

.comment_btn:focus {
    outline: none;
}

.new_comment {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}