.article_title {
    margin: 4vh 0 0 0;
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-size: var(--font0);
}

.article_preview_main {
    color: var(--secColor);
    font-weight: 300;
    font-size: var(--font1);
    margin: 0 0 2vh 0;
}
.tags_and_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.links_container {
    margin-bottom: 1vh;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 20vw;
    justify-content: flex-end;
}

.header_img {
    
}

.header_img img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.delete_btn {
    margin: 0 0 2vh 0;
    font-size: 1.5vw;
    color: var(--color);
}

.delete_btn:hover {
    color: var(--secondary);
}

.edit_btn {
    margin: 0 0 2vh 0;
    font-size: 1.5vw;
    color: var(--color);
}

.edit_btn:hover {
    color: var(--secondary);
}

.article_body {
    font-family: adobe-caslon-pro, serif;
    font-size: var(--font1);
    font-weight: 400;
    margin: 4vh 0 4vh 0;
    min-height: 20vh;
}

.comments {
}

.comment_all {
    display: inline-block;
    border: 1px solid var(--color);
    margin-bottom: 4vh;
    padding: 1em;
    max-width: 50vw;
}

.comments_title {
    display: inline-block;
    font-size: var(--font1);
    margin: 4vh 0 4vh 0;
}

.comment_author {
    font-size: var(--font1);
    font-weight: 400;
    display: table;
    margin: 0 0 1vh 0;
}

.comment_body {
    font-size: var(--font2);
    font-weight: 300;
}

.date {
    font-weight: 300;
    font-size: var(--font4);
}

.comment_btn {
    display: inline;
    background-color: var(--background);
    color: var(--color);
    margin: 0 0 2vh 2vw;
    font-family: proxima-nova, sans-serif;
    font-size: var(--font1);
    text-decoration: underline;
    border: none;
}

.comment_btn:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    cursor: pointer;
    text-decoration: underline;
    border: none;
}

.comment_btn:focus {
    outline: none;
}

.new_comment {
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}