.tags_list {
    display: flex;
    list-style-type: none;
}

.tags_title {
    font-size: 6vw;
}

.tag_link_small {
    list-style-type: none;
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
    color: var(--secondary);
    padding: 0.25em 0.25em;
}

.tag_link_small  {
    color: var(--color);
    border: 1px solid var(--color);
    text-decoration: none;
}

.tag_link_small:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    text-decoration: underline;
}