<div class="outer_container">
    <div class="container">
        <ul class="articles_list">
            <% @tag.articles.each do |article| %>
                <div class="article_container">
                    <li class="article_title_li">
                        <p class="article_title_link">
                            <%= link_to article.title, article_path(article), class: "article_title_link_header" %>
                        </p>
                        <p class="article_preview">
                            <%= article.preview %>
                        </p>
                        <p class="article_post_date">
                            <%= distance_of_time_in_words_to_now(article.created_at) %> ago
                        </p>
                    </li>
                    <figure class="img_mini">
                        <%= link_to image_tag(article.image.url), article_path(article) %>
                    </figure>
                </div>
            <% end %>
        </ul>
    </div>
</div>